*
    --dark: #3B3B3B
    --highlight: #4fc6fa
    
// *
//     outline: solid 0.25rem hsla(210, 100%, 50%, 0.1) !important
//     box-shadow: none !important
//     filter: none !important

.container-fluid
    min-width: 
nav 
    font-family: 'Work Sans'
    font-weight: 600
    height: 100vh
    flex-direction: column
    // background-color: #F8F8F8
    padding: 3rem 0 3rem 3rem !important
    @media screen and (max-width: 767px)
        position: absolute
        z-index: 1
        width: 100vw
        height: 100vh
    #logo
        font-family: 'Montserrat'!important
        font-weight: bold
        font-size: 2rem
        color: var(--dark)
    ul
        line-height: 1.8
        color: var(--dark)
        list-style: none
        padding-left: 0
        text-transform: lowercase
        li
            &:nth-child(1)
                font-weight: 800
            a
                text-decoration: underline
                color: var(--dark)
                &:hover,
                &:active
                    color: var(--highlight)
    .social-icons
        align-self: flex-baseline
        margin: auto 0 0 0
        color: var(--dark)
        padding: 0
        li
            display: inline-block
            margin-right: 1rem
            font-size: 1.2rem
            a
                text-decoration: none
                color: #3B3B3B

article
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18)
    display: box
    z-index: 0
    @media screen and (max-width: 767px)
        position: absolute
        top: 0
        left: 0

h1, h2, h3, h4, h5, .h5
    font-family: 'Work Sans'
    font-weight: 700
    letter-spacing: 0.02rem

h1
    font-size: 2rem

.thumbnail
    padding-top: 56%
    background-size: cover
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18)
    border-radius: 6px
    .content
        position: absolute
        width: 90%
        height: 100%
        top: 0
        margin: 0
        color: #FFF
        a
            text-decoration: none
            color: white
        .badges
            position: absolute
            bottom: 0
            padding-bottom: 0.4rem
            list-style: none
            padding-left: 0
    h2, .h5
        text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.18)
