extends ../_layout.pug

block header-sharing
	meta(property='og:title', content="0swStocks")
	meta(property='og:type', content='website')
	meta(property="og:url" content=document_root + "stocks")
	meta(property="og:image" content=document_root + "stocks/img/opengraphimage.jpg")
	meta(property='og:image:width', content='1200')
	meta(property='og:image:height', content='628')
	meta(property='og:description', content="Une bibliothèque de ressources gratuites pour graphistes")
	meta(property='fb:app_id', content='966242223397117')
	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:title', content='0swStocks')
	meta(name='twitter:description', content="Une bibliothèque de ressources gratuites pour graphistes")
	meta(name='twitter:url', content=document_root + "stocks")
	meta(name='twitter:image', content=document_root + 'stocks/img/opengraphimage.jpg')
block content
	div#project-banner(style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('img/thumbnail.jpg')")
		div.text
			h1.display-4 0sw&#8203;Stocks
			h2 Une bibliothèque de ressources gratuites pour graphistes
	div#project-tags
		div.container
			div.row.pt-3
				div.col-md.pb-2
					ul
						li Projet Open Source
						li
							a(href="https://github.com/0swin/stocks.oswin.io/blob/master/LICENSE", target="_blank", rel="noopener") License MIT
				div.col-md.pb-2
					ul
						li HTML/CSS
						li
							a(href="https://github.com/twbs/bootstrap", target="_blank", rel="noopener") Bootstrap
	div#project-content
		div.container.pt-4
			div.row
				div.col-md-1
				div.col-md-10
					a.btn.btn-outline-dark.mr-3(href="https://stocks.oswin.io/", target="_blank", rel="noopener") Ouvrir le site
					a.btn.btn-outline-dark(href="https://github.com/0swin/stocks.oswin.io", target="_blank", rel="noopener")
						span.fa.fa-github
						|
						| GitHub
					p.mt-3 0swStocks est un projet open-source, visant à réunir un maximum de sites de ressources gratuites pour les graphistes.
					img.img-responsive.img-screenshot(src="img/screenshot.jpg", alt="")
