@charset "UTF-8";
* { --text: #3B3B3B; --highlight: #4fc6fa; -webkit-transition: padding 0.3s; -o-transition: padding 0.3s; transition: padding 0.3s; }

img { height: auto; max-width: 100%; vertical-align: top; }

nav { height: 100vh; padding: 0 !important; margin: 0 !important; }

@media screen and (max-width: 767px) { nav { position: fixed; top: 0; left: 0; z-index: 1; width: 100vw; height: 100vh; } }

nav .nav-container { font-family: 'Work Sans'; font-weight: 600; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 3rem 0 3rem 3rem !important; }

nav .nav-container #logo { font-family: "Montserrat" !important; font-weight: bold; font-size: 2rem; color: var(--text); }

nav .nav-container ul { line-height: 1.8; color: var(--text); list-style: none; padding-left: 0; text-transform: lowercase; }

nav .nav-container ul .nom { font-weight: 800; }

nav .nav-container ul li a { text-decoration: underline; color: var(--text); }

nav .nav-container ul li a:hover, nav .nav-container ul li a:active { color: var(--highlight); }

nav .nav-container .social-icons { -ms-flex-item-align: flex-baseline; align-self: flex-baseline; margin: auto 0 0 0; color: var(--text); padding: 0; }

nav .nav-container .social-icons li { display: inline-block; margin-right: 1rem; font-size: 1.2rem; }

nav .nav-container .social-icons li a { text-decoration: none; color: #3B3B3B; }

article { -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18); box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18); display: box; z-index: 0; }

@media screen and (max-width: 767px) { article { position: absolute; top: 0; left: 0; } }

h1, h2, h3, h4, h5, .h5 { font-family: 'Work Sans'; font-weight: 700; color: var(--text); }

h1 { font-size: 2rem; }

code { background-color: #f6f6f6; font-family: Monaco,"Courier New", monospace; font-size: .9375rem; }

blockquote { padding: 0 15%; }

blockquote::before { margin-left: -.85em; font-size: 3rem; line-height: 0.75; display: block; height: 0; content: "“"; color: #e3e3e3; }

.thumbnail { padding-top: 56%; background-size: cover; -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18); box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18); border-radius: 6px; }

.thumbnail .content { position: absolute; width: 95%; height: 100%; top: 0; margin: 0; }

.thumbnail .content a { text-decoration: none; }

.thumbnail .content a h2, .thumbnail .content a p.h5 { color: #FFF !important; text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.18); }

.thumbnail .content .badges { position: absolute; bottom: 0; }

.badges { padding-bottom: 0.4rem; list-style: none; padding-left: 0; }

.badges .badge a { color: #FFF !important; }

.featureImage { width: calc(100% + 6rem); margin-top: 2rem; background-size: cover; background-position: bottom; margin-left: -3rem; padding-top: calc(100%/2); }

@media screen and (max-width: 991px) { .featureImage { padding-top: calc(100%/1.5); } }

.article { max-width: 740px; margin: 0 auto; }

.gallery { margin: 0 -0.53333rem; }

@media all and (min-width: 20em) { .gallery { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

@media all and (min-width: 20em) { .gallery[data-columns="1"] .gallery__item { width: 100%; } }

@media all and (min-width: 30em) { .gallery[data-columns="2"] .gallery__item { width: 50%; } }

@media all and (min-width: 37.5em) { .gallery[data-columns="3"] .gallery__item { width: 33%; } }

@media all and (min-width: 56.25em) { .gallery[data-columns="4"] .gallery__item { width: 25%; } }

@media all and (min-width: 56.25em) { .gallery[data-columns="5"] .gallery__item { width: 20%; } }

@media all and (min-width: 56.25em) { .gallery[data-columns="6"] .gallery__item { width: 16.666%; } }

@media all and (min-width: 56.25em) { .gallery[data-columns="7"] .gallery__item { width: 14.285%; } }

@media all and (min-width: 56.25em) { .gallery[data-columns="8"] .gallery__item { width: 12.5%; } }

.gallery__item { margin: 0; padding: 0.53333rem; }

.gallery__item img { display: block; width: 100%; }

@media all and (min-width: 20em) { .gallery__item { width: 50%; } }

@media all and (min-width: 30em) { .gallery__item { width: 33.333%; } }

@media all and (min-width: 37.5em) { .gallery__item { width: 25%; } }
