.navbar-header
	a.navbar-brand.js-scroll-trigger(href=document_root + "index.html#") oswin
button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
	span.navbar-toggler-icon
#navbarText.collapse.navbar-collapse
	.navbar-centered-content
		menu.navbar-nav.mr-auto
			li.nav-item.js-scroll-trigger
				a.nav-link.js-scroll-trigger(href= document_root + "index.html#") Accueil
			li.nav-item.js-scroll-trigger
				a.nav-link.js-scroll-trigger(href= document_root + "index.html#projets") Projets
			//- li.nav-item.js-scroll-trigger
			//- 	a.nav-link.js-scroll-trigger(href="#one-shots") One-shots
			li.nav-item.js-scroll-trigger
				a.nav-link.js-scroll-trigger(href= document_root + "index.html#a-propos") À propos
	ul.navbar-nav
		li.nav-item
			//- a.nav-link.fa.fa-behance.fa-pad-top(href="https://www.behance.net/nicolas9roger" target='_blank')
			a.nav-link.fa.fa-github.fa-pad-top(href="https://github.com/0swin", target='_blank', rel="noopener")
			a.nav-link.fa.fa-instagram.fa-pad-top(href="https://www.instagram.com/0sw.in/", target='_blank', rel="noopener")
			//- a.nav-link.fa.fa-vimeo.fa-pad-top(href="https://vimeo.com/0swin" target='_blank')
			a.nav-link.fa.fa-linkedin.fa-pad-top(href="https://www.linkedin.com/in/nicolas9roger/" target='_blank' rel="noopener")
