extends _layout

block content
	section#hero.flex1
		.pattern-overlay
		video(loop, muted, autoplay, class="fullscreen-bg-video", preload="auto")
			source(src= document_root + "rsrc/video/bg2.webm", type="video/webm")
			source(src= document_root + "rsrc/video/bg2.mp4", type="video/mp4")

	section#projets
		.container
				- var projectThumbnailImages = document_root + "rsrc/pictures/projects-thumbnails/"
				mixin projects-thumbnails(nom)
					.col-lg-6
						.instagram-post
							a(href= nom target='_blank')
								img.post-image(src= document_root + nom + "/img/thumbnail.jpg" )
				h1 Projets
				.row.instagram
					+projects-thumbnails("doctolib")
					+projects-thumbnails("stocks")
					+projects-thumbnails("in")
					+projects-thumbnails("logo-reveal")
					+projects-thumbnails("pronto")
					+projects-thumbnails("owl")

	section#a-propos
		.container
			h1 À propos
			.row
				.col-md-8.mx-auto
					.profile-card.align-middle
						.row
							.col-lg-4
								img.avatar.mb-4(src= document_root + 'rsrc/pictures/avatar.jpg')
							.col-lg-8
								h3 Nicolas "0swin" Roger
								p Étudiant de 19 ans en troisième année de&nbsp;direction artistique, je&nbsp;m'intéresse notamment au&nbsp;web-design,&nbsp;au&nbsp;design interactif et&nbsp;au&nbsp;motion design.
								p#mail
									span.mail1
										a#adressemail(href="#") nicolas@oswin.io
									span.mail2
										a(href="mailto:nicolas@oswin.io", ) m'envoyer un mail&nbsp;
									span.mail2 ou
										button.btn-link#mail-btn(data-clipboard-text="nicolas@oswin.io") copier dans le presse papier
								p +33 6 33 50 96 73
								a.mr-3(href="https://drive.google.com/file/d/1CKLfNebeGa-iLuq5P8qLmSjVlRIMDJO1/view?usp=sharing" target='_blank' rel="noopener") CV
								span.mr-3 -
								a(href="https://drive.google.com/open?id=1Pa2rOiCrtYnH-Bo_13397iLY6blPeRsT" target='_blank' rel="noopener") Book
